<!DOCTYPE html>
<html>
<head>
  <title>Contact</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Contact</h1>
  </header>

  <%- include('partials/_navbar') %>

  <main>
    <section class="contact-info">
      <h2>Contact Information</h2>
      <p>If you'd like to get in touch, feel free to reach out through any of the following methods:</p>      
      <p>Email: dixonckc@gmail.com</p>
      <p>Phone: 437-848-0921</p>
      <p>Address: 2852  Yonge Street, Toronto, Ontario</p>
      </ul>
    </section>

    <section class="contact-form">
      <!-- Contact Form Section -->
      <h2>Send a Message</h2>
      <form action="/submit" method="post">
        <!-- Input fields for user information -->
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required><br><br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required><br><br>

        <label for="contactNumber">Contact Number:</label>
        <input type="tel" id="contactNumber" name="contactNumber" required><br><br>

        <label for="emailAddress">Email Address:</label>
        <input type="email" id="emailAddress" name="emailAddress" required><br><br>

        <label for="message">Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea><br><br>

        <input type="submit" value="Send">
      </form>
    </section>
  </main>

  <%- include('./partials/footer.ejs') %>

</body>
</html>
